<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DWUtilKitDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7448B81B1ED72A1A00AE165F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74CCFE391EDAE0170067F398</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74CCFE471EDAE06C0067F398</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74E359F21E7189C600AEDE10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
